@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 16%);
    color:white;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

.logo img {
    width: 100px;
}

.nav-links ul {
    display: flex;
}

.nav-links li {
    padding-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    transition: color 0.7s;
}

.nav-links a:hover {
    color: hsl(0, 0%, 70%);
}