@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Nav Bar Style */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 16%);
    color:white;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

.logo {
    margin-left: 24px;
}

.logo img {
    width: 100px;
}

.nav-links ul {
    display: flex;
}

.nav-links li {
    padding-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    transition: color 0.7s;
}

.nav-links a:hover {
    color: hsl(0, 0%, 70%);
}

.register {
    background-color: hsl(36, 82%, 41%);
    padding: 10px;
    margin-right: 24px;
    border: 1px solid hsl(0, 0%, 16%);
    transition: background-color 0.7s;
}

.register a {
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

.register:hover {
    background-color: hsla(36, 82%, 31%, 0.7);
}

/* Pitch and Highlight Design */

body {
    font-family: 'Lato', sans-serif;
}

.pitch-highlight {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
}

.tagline {
    margin-bottom: 12px;
}

.tagline h1 {
    font-weight: bolder;
    font-size: 32px;
    text-transform: uppercase;
}

.tagline h2 {
    font-size: 20px;
}

.grid-images {
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid-images ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 12px;

}

.grid-images img {
    width: 200px;
    height: 200px;
}

.highlight {
    border: 2px solid hsl(0, 0%, 16%);
    width: 33%;
    background-color:hsl(0, 0%, 16%);
    color:hsl(0, 0%, 100%);
}

.highlight-pic {
    display:flex;
    justify-content: center;
}

.highlight-pic img {
    height:100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box; 
}

.highlight-txt {
    margin-left: 30px;
    margin-top: 30px;
}

.highlight-txt h2 {
    font-weight: bolder;
    font-size: 22px;
    text-align:left;
    margin-bottom: 30px;
}

.highlight-txt p {
    margin-bottom: 30px;
}

/*Testimonial Style*/

.testimonial {
    text-align: center;
    margin-bottom: 75px;
}

.testimonial h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.test-pic {
    display:flex;
    justify-content: center;
}

.test-pic img {
    height:100%;
    width: 375px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;    
}

em {
    font-style: italic;
}

/*Footer Styles*/

footer {
    background-color: hsl(0, 0%, 16%);
    color:hsl(0, 0%, 100%);
}

footer h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.foot-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 10px;
}

.foot-nav a {
    text-decoration: none;
    cursor:pointer;
    color: hsl(0, 0%, 100%);
    transition: color 0.7s;
}

.foot-nav a:hover {
    color:hsl(0, 0%, 70%);
}

.foot-parent-link {
    display: flex;
    justify-content:right;
    width: 50%;
    padding-top: 20px;
}

.foot-parent-link > * {
    margin-left: 50px;
}

.foot-links1 li {
    padding-bottom: 6px;
}

.foot-links2 li {
    padding-bottom: 6px;
}

.foot-links3 li {
    padding-bottom: 6px;
}

.foot-links3 ul {
    margin-right: 200px;
}

.foot-buttons a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(36, 82%, 41%);
    transition: background-color 0.7s;
}

.foot-buttons li{
    display: block;
    text-align:center;
    background-color: hsl(36, 82%, 41%);
    border: 5px solid hsl(36, 82%, 41%);
    border-radius: 3px;
    width: 100%;
    transition: background-color 0.7s, border 0.7s;
}

.foot-buttons {
    margin-top: 10px;
    width: auto;
}

.foot-buttons li + li {
    margin-top: 10px;
}

.foot-buttons a:hover {
    background-color: hsl(36, 82%, 31%);
}

.foot-buttons li:hover {
    background-color: hsl(36, 82%, 31%);
    border: 5px solid hsl(36, 82%, 31%);
}